<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link media="all" rel="stylesheet" href="{{ '/themes/custom/decode/dist/bundle.min.css' }}">
    <title>path: {{ path }}</title>
</head>
<body>

{{ yield }}

<script src="{{'/themes/custom/decode/dist/bundle.min.js' }}"></script>
</body>
</html>